<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Reminder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/member/payment_reminder.css') }}">
    {% include 'navbar.html' %} 
</head>

<body>
    {% if remind %}
    {% for reminder in remind %}
    <div class="yellow bg">
        <div class="warning-sign">
            <img src="{{ url_for('static', filename='images/remind-exclamation.svg') }}" alt="Image">
        </div>
        <div class="warning-text">
            <h1>REMINDER!</h1>
            <h5>Approaching Due Date!</h5>
            <p>You have existing balance to be paid of: {{remind[4]}}</p>
            <p>Due date: {{remind[6]}}</p>
            <button type="button">Pay<i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
    {% endfor %}

    <!-- <div class="red bg">
        <div class="warning-sign">
            <img src="{{ url_for('static', filename='images/remind-exclamation.svg') }}" class="invert" alt="Image">
        </div>
        <div class="warning-text">
            <h1>REMINDER!</h1>
            <h5>Approaching Due Date!</h5>
            <strong>Less than 1 Week Left</strong>
            <p>You have existing balance to be paid of: {{remind[4]}} </p>
            <button type="button">Pay<i class="fa-solid fa-chevron-right"></i></button>

        </div>
    </div> -->

    {% endif %}

</body>

</html>