<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Method</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/member/payment.css') }}">
    {% include 'navbar.html' %}

</head>

<body>
    <div class="box">
        <h1>Payment</h1>
        <div class="wrapper-payment">
            <p>How do you want to pay?</p>

            <input class="verify" type="submit" value="Payment Verification">
        </div>
    </div>
</body>

</html>