{%extends "home2.html"%}{% block title%}Payment{% endblock %}
{% block content%}  

<h1>payment</h1>
<h1>How do you want to pay</h1>

<div class="cashform" id="cashforms">
  <form action="" method="post" align="center">
    <input type="radio" name="option" id="option1"  value="Cash"> Direct Cash <br>
<input type="radio" name="option" id="option2" value="Gcash"> GCash <br>
    <div class="form-group">        
        <label for="username">Amount Cash</label>
        <input type="text" name="amount" id="amount" placeholder="Enter amount">
    </div><br>
    <button type="submit" value="Submit" class="btn btn-success">Payment Verification</button>
</form>
</div>


{% endblock %}  