body {
    margin-top: 100px;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.yellow {
    width: 100%;
    background-color: #FFDE59;
    /* background-color: #d0342c; */
}

.red {
    width: 100%;
    background-color: #ff3949;
    color: white;
}

.container {
    width: 24%;
    height: 350px;
    float: left;
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    margin-left: 1%;
    margin-bottom: 10px;
    padding: 10px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.warning-sign {
    width: 20%;
}

.warning-text {
    text-align: center;
}

.warning-text h1 {
    letter-spacing: 2px;
}

h5 {
    letter-spacing: 3px;
    font-size: 15px;
    margin-bottom: 20px;
}

.pay {
    width: 60%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15%;
}



@media screen and (max-width:940px) {
    .container {
        width: 100%;
        margin: 10px auto;
    }

}

@media screen and (max-width:500px) {
    .container {
        margin: 10px auto;
    }
}