<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/edit_info.css') }}">
    {% include 'navbar.html' %}
    <title>Edit User Info</title>
</head>

<body>
    <h1>EDIT USER INFO</h1>
    <main>
        {% if info %}
        <form method="POST" action="/admin/update_info/{{info[1]}}">

            <h3>Personal Information</h3>
            <div class="personal-information">
                <label for="given_name">Given Name
                    <input type="text" id="given_name" name="given_name" required
                        value="{% if info[2] is none %}""{% else %}{{ info[2] }}{% endif %}">
                </label>
                <label for="last_name">Last Name
                    <input type="text" id="last_name" name="last_name" required
                        value="{% if info[3] is none %}""{% else %}{{ info[3] }}{% endif %}">
                </label>
                <label for="middle_name">Middle Name
                    <input type="text" id="middle_name" name="middle_name" required
                        value="{% if info[4] is none %}""{% else %}{{ info[4] }}{% endif %}">
                </label>
                <label for="gender">Gender
                    <select class="select" name="gender" id="gender" required>
                        {% if info[5] %}
                        {% if info[5] == "Male" %}
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        {% elif info[5] == "Female" %}
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        {% else %}
                        <option value="">Please Select One</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        {% endif %}
                        {% endif %}
                    </select>
                </label>
            </div>
            <h3>Property Information</h3>
            <div class="property-information">

                <label for="id_no">ID No.
                    <input type="text" id="id_no" name="id_no" required
                        value="{% if info[8] is none %}""{% else %}{{ info[8] }}{% endif %}">
                </label>
                <label for="blk_no">Block No.
                    <input type="text" id="blk_no" name="blk_no" required
                        value="{% if info[9] is none %}""{% else %}{{ info[9] }}{% endif %}">
                </label>
                <label for="lot_no">Lot No.
                    <input type="text" id="lot_no" name="lot_no" required
                        value="{% if info[10] is none %}""{% else %}{{ info[10] }}{% endif %}">
                </label>
                <label for="homelot">Homelot Area
                    <input type="text" id="homelot" name="homelot" required
                        value="{% if info[11] is none %}""{% else %}{{ info[11] }}{% endif %}">
                </label>
                <label for="open_space">Open Space
                    <input type="text" id="open_space" name="open_space" required
                        value="{% if info[12] is none %}""{% else %}{{ info[12] }}{% endif %}">
                </label>
                <label for="loan">Share In Loan
                    <input type="text" id="loan" name="loan" required
                        value="{% if info[13] is none %}""{% else %}{{ info[13] }}{% endif %}">
                </label>
                <label for="PI">Principal Interest
                    <input type="text" id="PI" name="PI" required
                        value="{% if info[14] is none %}""{% else %}{{ info[14] }}{% endif %}">
                </label>
                <label for="MRI">MRI
                    <input type="text" id="MRI" name="MRI" required
                        value="{% if info[15] is none %}""{% else %}{{ info[15] }}{% endif %}">
                </label>
                <label for="total">Total
                    <input type="text" id="total" name="total" required
                        value="{% if info[15] is none %}""{% else %}{{ info[15] }}{% endif %}">
                </label>

            </div>

            <div class="buttons">
                <button class="close"><a href="/admin/members_info">Close</a></button>
                <button class="update" type="submit">Update</button>
            </div>
            {% endif %}
        </form>
    </main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <script>
            // Get the flash message from the page
            const flashMessage = "{{ get_flashed_messages()[0] }}";
            // Display the flash message as an alert
            if (flashMessage) {
                alert(flashMessage);
            }
        </script>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>
</body>

</html>