<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Information</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/members_info.css') }}">
  {% include 'navbar.html' %}
</head>

<body>
  <h1>EDIT USER INFO</h1>
  <h2>Incomplete User Information:</h2>

  <div class="scrollable">
    <table class="table">
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Action</th>
        <!-- Add more column headers as per your table structure -->
      </tr>
      {% if inc %}
      {% for incs in inc %}
      <tr>
        <td>{{ incs[14] }}</td>
        <td>{{ incs[12] }}</td>
        <td>{{ incs[13] }}</td>
        <td>
          <a href="/admin/edit_info/{{incs[1]}}" class="edit action"><i class="fa-solid fa-pen-to-square"></i> EDIT</a>
          <button class="delete action" onclick="return confirm('Are you sure you want to delete this account?')">
            <i class='fa-solid fa-trash'></i> DELETE</button>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <td colspan="4">No Result</td>
      {% endif %}
    </table>
  </div>

  <h2>Complete User Information:</h2>
  <div class="scrollable">
    <table class="table">
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Action</th>
      </tr>
      {% if complete %}
      {% for completed in complete %}
      <tr>
        <td>{{ completed[14] }}</td>
        <td>{{ completed[12] }}</td>
        <td>{{ completed[13] }}</td>
        <td>
          <a href="/admin/edit_info/{{completed[1]}}" class="edit action"><i class="fa-solid fa-pen-to-square"></i>
            EDIT</a>
          <i class='fa-solid fa-trash'></i> DELETE</button>

        </td>
        {% endfor %}
        {% else %}
        <td colspan="4">No Result</td>
        {% endif %}
      </tr>
  </div>
  </table>

</body>

</html>