<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Reminder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/payment_remind.css') }}">
    {% include 'navbar.html' %}

</head>

<body>
    <div class="container">
        <h1>Payment Reminder</h1>
        {% if remind %}
        {% for reminds in remind %}

        <h3 class="name">Name: </h3>

        <label for="deadline">Deadline:</label>
        <input type="date" id="deadline" name="deadline" placeholder="Date of deadline">

        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" placeholder="Amount to be paid" value="₱ {{reminds[0]}}" disabled>
        <!-- <span>&#8369;</span> -->
        <a class="buton remind" href="/admin/payment_remind/remind/5">Remind</a>
        {% endfor %}
        {% endif %}
    </div>
</body>

</html>

<script>
    // Get the current date
    var currentDate = new Date();

    // Add 1 month to the current date
    var newDate = new Date(currentDate.setMonth(currentDate.getMonth() + 1));

    // Format the new date as "YYYY-MM-DD"
    var formattedDate = newDate.toISOString().split('T')[0];

    // Set the default value of the input field to the new date
    document.getElementById("deadline").value = formattedDate;
</script>