*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* para sa left side gamit ko flexshit */
.grid .left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.left-side img {
    width: 150px;
    
}

.left-side h1 {
    letter-spacing: 2px;

}

.left-side h5 {
    color: gray;
}

.right-side {
    text-align: center;
    background-color: #6FB9B9;
    justify-content: space-around;
}

.parent-image{
    aspect-ratio: auto 4 / 3; 
    width: 100%; 
}
.parent-image img{
    box-sizing: border-box;
    padding: 3%;
    width: 100%;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .grid{
       grid-template-columns: 1fr;
    }
    .grid .left-side{
        display: none;
    }
    .right-side{
        display: block;
    }
    .right-side h2{
        margin-bottom: 25px;
    }
  }
