body{
  padding-top: 10%;
  
}

h1{
  text-align: center;
}
main{
  width: 80%;
  background-color: #6FB9B9;
  padding: 1em;
  border-radius: 10px ;
  /* center div */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* alam ko meron na code neto e */
.personal-information{
  display: grid;
  grid-template-columns: 1fr 1fr;   
  margin: 0 20px;
  row-gap: 10px;
  padding-bottom:10px ;
  border-bottom: 1px solid black;
}

.personal-information label input, select , .property-information label input{
  display: block;
}

input, select {
  padding: 5px 10px;
  min-width: 70%;
  border-radius: 5px;
  width: 90%;
  
}

.property-information{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 20px;
}

.property-information label{
  grid-column: span 2;
}

.property-information label:nth-child(4), .property-information label:nth-child(5){
  grid-column: span 3;
  
}

/*. buttons */
main h3, .buttons {
  text-align: center;
  margin-top: 20px;
}

button{
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
}

.close{
  background-color: gray;
}

.update{
  background-color: green;
}

a{
  color: white;
  text-decoration: none;
}
/* responsive */
@media screen and (max-width:500px) {

  .personal-information, .property-information{
      grid-template-columns: 1fr;
  }
  .buttons{
      display: flex; 
      justify-content:space-evenly;
  }
  .buttons button{
      width: 100px;
  }
}